{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/informes.css' %}">
<div class="container caja rounded mt-5 mb-3 pb-3">

    <h1 class="text-center pb-3 pt-5">Crear Informe de Pedidos</h1>
    <form method="post" action="" class="">
        {% csrf_token %}
        <div class="container border border-primary rounded">
            <label for="pedidos" class="p-2 ">Ordenes de pedidos:</label>
            <input type="checkbox" class="ordenes" name="ordenes" id="ordenes" onclick="checkeado(this.form)"/></br>
            
            <div class="row row-cols-1">
                <div class="col border border-primary rounded">
                    <label for="productos" class="p-2">Fecha pedido:</label>
                    <input type="checkbox" class="fechaOrdenP" name="fechaOrdenP" id="fechaOrdenP"/></br><br>
                </div>
            </div>
            <div class="row row-cols-1">
                <div class="col border border-primary rounded">
                    <label for="productos" class="p-2">Estado recepcion:</label>
                    <input type="checkbox" class="estadoRecepcionO" name="estadoRecepcionO" id="estadoRecepcionO" onclick="checkeado(this.form)"/></br></br>
                    {% render_field form1.estadoordenid class="form-control input border border-secondary" disabled="disabled" name="estadoordenid" id="estadoordenid" style="opacity:0"%}
                    <br>
                </div>
            </div>
            <div class="row row-cols-1">
                <div class="col border border-primary rounded">
                    <label for="productos" class="p-2">Nombre proveedor:</label>
                    <input type="checkbox" class="razonSocialOrdenP" name="razonSocialOrdenP" id="razonSocialOrdenP" onclick="checkeado(this.form)"/></br></br>

                    <div class="inputFilter" id="razonSocialOrdenSelect" style="display:none;">
                        <select class="form-select" type="text" id="razonSocialOrdenPCheck" name="razonSocialOrdenPCheck" aria-label="Default select example" onchange="showDivAttid3('razonSocialOrdenPCheck','proveedorid', 'porRazonSocialOrdenP')">
                            <option selected>----------</option>
                            <option value="todosOrdenP">Todos</option>
                            <option value="porRazonSocialOrdenP">Por Razon Social</option>
                            </select>
                    </div>
                    
                    {% render_field form1.proveedorid class="form-control input border border-secondary" disabled="disabled" name="proveedorid" id="proveedorid" style="opacity:0"%}
                    
                </div>
            </div>
            <div class="row row-cols-1">
                <div class="col border border-primary rounded">
                    <label for="productos" class="p-2">Productos pedido</label>
                    <input type="checkbox" class="detalleOrdenP" name="detalleOrdenP" id="detalleOrdenP" onclick="checkeado(this.form)"/></br></br>
                    <label for="productos" class="p-2">Cantidad:</label>
                    <input type="checkbox" class="cantidadOrdenP" name="cantidadOrdenP" id="cantidadOrdenP"/></br>
                    <label for="productos" class="p-2">Producto:</label>
                    <input type="checkbox" class="productoOrdenP" name="productoOrdenP" id="productoOrdenP"/></br>
                </div>
            </div>
        </div>
        <div class="container p-3">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-4 text-center border border-dark rounded">
                    <br>
                    <label for="">Exportar a documento tipo:</label></br></br>
                    <input type="radio" name="informeCheck" value="informeExcel" id="informeCheck1" onclick="checkeado(this.form)"> Excel</br></br>
                    <input type="radio" name="informeCheck" value="informeWord" id="informeCheck2" onclick="checkeado(this.form)"> Word</br></br>
                    <input type="radio" name="informeCheck" value="informePdf" id="informeCheck3" onclick="checkeado(this.form)"> PDF</br><br>
                </div>

                <div class="col-md-4 text-center border border-dark rounded">
                    <br>
                    <label for="">Para descargar el informe debe seleccionar un formato de documento, para obtener una vista previa del informe solo se puede en formato PDF:</label></br></br>
                    <button type="submit" name="vistaPrevia" value="vistaPrevia" id="vistaPrevia" class="btn btn-primary">Vista previa</button><br><br>
                    <button type="submit" name="descargarInforme" value="descargarInforme" id="descargarInforme" class="btn btn-primary">Descargar</button><br><br>
                </div>
                <div class="col-md-2">
                </div>
            </div>
            
        </div> 
        
    </form>
    <div>
        <a href="/informes" type="submit" class="btn btn_aceptar border border-secondary text-black">Volver</a>
    </div>
</div>
<script>

    function showDivAttid(value , status){
        status === true ? document.getElementById(`${value}`).style.display = 'inline' :  document.getElementById(`${value}`).style.display = 'none'
    }

    function showDivAttid2(value, status){
        if(status === true){
            document.getElementById(`${value}`).disabled = false
            document.getElementById(`${value}`).style.opacity = '1'
        }else{
            document.getElementById(`${value}`).disabled = true
            document.getElementById(`${value}`).style.opacity = '0'
        }
    }

    function showDivAttid3(value, idshow, field){
        console.log(document.getElementById(`${value}`).value)
        if(document.getElementById(`${value}`).value === field){
            document.getElementById(`${idshow}`).disabled = false
            document.getElementById(`${idshow}`).style.opacity = '1'
        }else{
            document.getElementById(`${idshow}`).disabled = true
            document.getElementById(`${idshow}`).style.opacity = '0'
        }
    }

</script>

<script language="JavaScript">

    document.getElementById("fechaOrdenP").disabled=true;
    document.getElementById("estadoRecepcionO").disabled=true;
    document.getElementById("razonSocialOrdenP").disabled=true;
    document.getElementById("detalleOrdenP").disabled=true;
    document.getElementById("cantidadOrdenP").disabled=true;
    document.getElementById("productoOrdenP").disabled=true;
    document.getElementById("descargarInforme").disabled=true;
    document.getElementById("vistaPrevia").disabled=true;

    document.getElementById("informeCheck1").disabled=true;
    document.getElementById("informeCheck2").disabled=true;
    document.getElementById("informeCheck3").disabled=true;
    
    function checkeado(form)
    {

        //orden pedido
        if (form.ordenes.checked == true){
            form.fechaOrdenP.disabled = false;
            form.estadoRecepcionO.disabled = false;
            form.razonSocialOrdenP.disabled = false;
            form.detalleOrdenP.disabled = false;
            form.informeCheck1.disabled = false;
            form.informeCheck2.disabled = false;
            form.informeCheck3.disabled = false;
            
        }

        if (form.ordenes.checked == false || form.ordenes.disabled == true){
            form.fechaOrdenP.disabled = true;
            form.estadoRecepcionO.disabled = true;
            form.razonSocialOrdenP.disabled = true;
            form.detalleOrdenP.disabled = true;
            form.informeCheck1.disabled = true;
            form.informeCheck2.disabled = true;
            form.informeCheck3.disabled = true;
        }
        
        if (form.estadoRecepcionO.checked == true){
            showDivAttid2('estadoordenid', true)
        }

        if (form.estadoRecepcionO.checked == false || form.estadoRecepcionO.disabled == true){
            showDivAttid2('estadoordenid', false)
        }
        
        if (form.detalleOrdenP.checked == true){
            form.cantidadOrdenP.disabled = false;
            form.productoOrdenP.disabled = false;
        }

        if (form.detalleOrdenP.checked == false || form.detalleOrdenP.disabled == true){
            form.cantidadOrdenP.disabled = true;
            form.productoOrdenP.disabled = true;
        }
        
        if (form.razonSocialOrdenP.checked == true){
            showDivAttid('razonSocialOrdenSelect', true)
        }

        if (form.razonSocialOrdenP.checked == false || form.razonSocialOrdenP.disabled == true){
            showDivAttid('razonSocialOrdenSelect', false)
        }

        //informes

        if (form.informeCheck3.checked == true ){
            form.descargarInforme.disabled = false;
            form.vistaPrevia.disabled = false;
        }

        if (form.informeCheck1.checked == true || form.informeCheck2.checked == true){
            form.descargarInforme.disabled = false;
        }

        if (form.informeCheck1.checked == true || form.informeCheck2.checked == true){
            form.vistaPrevia.disabled = true;
        }
    }
    
</script>

<script src="{% static 'js/informes.js' %}"></script>
{% endblock %}