{% extends 'layout.html' %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/ingreso_usuarios.css' %}">
    <div class="form-signin w-100 h-100 m-auto p-3 text-center border rounded mt-5">
        
        <form id="center" method="post" action="" class="">
          {% csrf_token %} 
            <img class="mb-4 logo-ingreso" src="{% static 'images/Ferme-logo.png' %}" width="150" height="150">
            <h1 class="h3 mb-3 fw-normal text-center">Iniciar Sesion</h1>

            <div class="form-floating inputStyle">
              <input type="text" name="usuario" class="form-control" minlength="4" id="exampleInputEmail1" placeholder="Usuario" onkeypress="return ValidacionNombreUsuario(event)" />
              <label for="" class="form-label font-style">Usuario</label>
            </div>
            <div class="mb-3 form-floating inputStyle">
              <input type="password" name="contraseña" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" minlength="6" onkeypress="return SinEspacios(event)" />
              <label for="exampleInputPassword1" class="form-label font-style">Contraseña</label>
            </div>
            
           
            <button type="submit" class="btn btn_aceptar border border-secondary text-black py-2 m-2" style="font-size: 1.3rem;">Iniciar Sesion</button>


          </form>
    </div>

    <script src="{% static 'js/ingreso_usuarios.js' %}"></script>

{% endblock %}

