
.form-signin {
  background-color: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  width: 90%;
  max-height: 90%;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
}

form {
  width: 80%;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn {
  background-color: #FF9550!important;
}