.navbar, .footer {
    background-color: #909090;
    z-index: 3;
}

.ingresar, .registrarme{
    background-color: #FF9550!important;
}

.icono_usuario {
    background-color: #FF9550;
    list-style: none;
    margin-right: 15px;
} 

.text-nowrap {
    white-space: nowrap !important;
  }
  
.logo{
    color: #FF9550!important;
}

.navbar {
    position: fixed!important;
    top: 0;
}

.logo-navbar {
    max-width: 10%;
    max-height: 4%;
}

.icono_persona {
    padding-bottom: 3px!important;
    padding-top: 3px!important;
    padding-right: 5px!important;
    padding-left: 5px!important;
}

#content {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
}

